<header class="bg-dark text-danger my-0 py-5">
    <section class="container text-center">
        <h1>Batîment</h1>
        <p>Vos projets sont entre les maisns de confiance !</p>
    </section>
</header>