<header class="bg-dark text-danger my-0 py-5">
    <section class="container text-center">
        <h1>Batîment</h1>
        <p>La construction un domaine qui nous connait bien !</p>
    </section>
</header>